streamlit
pandas
numpy
plotly
matplotlib
wordcloud
fpdf2
openpyxl
scikit-learn
transformers
torch
bertopic
sentence-transformers
langchain==0.3.25
langchain-groq==0.3.2
langchain-community==0.3.24
langchain-huggingface==0.1.2
faiss-cpu
